//small screens 
@media (max-width: 640px) {
  //all small screen styling goes here
  h1.site-title {
    display: none;
  }
  body {
    #banner-image {
      display: none;
    }
    #video-button-row {
      display: none;
    }
  }  
}
